/* .split {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.split-flex {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* the split.js docs say border-box works better */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
    background-color: rgb(201, 201, 201);
    width: 10px;
    cursor: col-resize;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}