.nodeCard {
    width: 200px;
    overflow: visible;
}

.nodeCard.isNaked {
    background-color: blue;
}

.nodeCard.isDragging {
    opacity: 0.2;
}

.isSelected .nodeCard {
    outline: 3px solid blue !important;
    
}

.nodeWrapper {
    position: absolute;
    transition: transform 0.1s ease-out;
}

.nodeWrapper:hover {
    transform: scale(1.01, 1.01)
}

.nodeWrapper.isSelected {
    transform: scale(1.03, 1.03);
}

.nodeCanReceiveArrow {
    background-color: rgb(223, 243, 255) !important;
    transition: background-color 0.5s;
}

.nodeCanReceiveArrow:hover {
    background-color: rgb(185, 228, 255) !important;
    transform: scale(1.05, 1.05)
}

.debugNodeText {
    display: none;
    font-size: x-small;
    color: #777;
}