.nodeCard {
    width: 200px;
    overflow: visible;
}

.nodeCard.isDragging {
    opacity: 0.2;
}

.isSelected .nodeCard {
    outline: 3px solid blue !important;
}
.isSelected.isNaked .nodeCard {
    outline: 3px solid rgba(0,0,255,0.5) !important;
}

.nodeWrapper {
    position: absolute;
    transition: transform 0.1s ease-out;
}

.nodeWrapper:hover {
    transform: scale(1.01, 1.01)
}


/* naked nodes */
.isNaked .nodeCard {
    background: none;
    box-shadow: none;
    transition: background-color 0.1s ease-out;
}

.isNaked.isSelected .nodeCard {
    background-color: rgba(255,255,255,0.7);
}

.isNaked .nodeControls {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.isNaked.isSelected .nodeControls {
    opacity: 1;
}
.isNaked:hover .nodeControls {
    opacity: 1;
}

.nodeWrapper.isSelected {
    transform: scale(1.03, 1.03);
}


.nodeCanReceiveArrow {
    background-color: rgb(223, 243, 255) !important;
    transition: background-color 0.5s;
}

.nodeCanReceiveArrow:hover {
    background-color: rgb(185, 228, 255) !important;
    transform: scale(1.05, 1.05)
}

.debugNodeText {
    display: none;
    font-size: x-small;
    color: #777;
}