.Property {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.propertyName {
    /* height: 9px; */
    font-size: small;
    width: 100%;
    color: #888;
}

.textInput {
    border: 1px solid #aaa;
}

.AddNewPropertySelect {
    text-align: left;
}

.propertyOverflowButton {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.Property:hover .propertyOverflowButton {
    opacity: 1;
}