.Property {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.propertyName {
    /* height: 9px; */
    font-size: x-small;
    width: 100%;
    color: #888;
}

.textInput {
    border: 1px solid #aaa;
}

.AddNewPropertySelect {
    text-align: left;
}